<!doctype html>
<html>
    <head>
        <title>Inner HTML</title>
    </head>
    <body>
        <script>
            document.write('<p>From Javascript<\/p>');
        </script>
        <a href="http://www.jd.com" target="_blank">blank</a>
        <a href="http://www.baidu.com" target="_top">top</a>
        <a href="http://www.baidu.com" target="_parent">parent</a>
        <a href="http://www.jd.com" target="_self">self</a>
        <form action="/check" method="post">
            Name:<input type="text" name="name" />
            <input type="submit">
        </form>
    </body>
</html>
