<!doctype html>
<html>
    <head>
        <title>Please login</title>
    </head>
    <body>
        <form action="/login" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" width="20" name="username" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" width="20" name="password" />
            </div>
            <div>
                <input type="submit" value="submit">
                <input type="reset" value="reset">
            </div>
        </form>
    </body>
</html>
